<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand pull-left" href="#"><img id="logo" src="https://d2q79iu7y748jz.cloudfront.net/s/_logo/522208b30b67f8ad8f746b5d7b85b1fd"></a>
    </div>

    <div class="collapse navbar-collapse" id="conference-dropdowns">
      <ul class="nav navbar-nav">

        <li *ngFor="let conference of conferenceList">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{conference.conferenceName}}</a>
        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
          <li *ngFor="let division of conference.divisionList" class="dropdown-submenu">
            <a tabindex="-1" [routerLink]="['/division', division.id]">{{division.divisionName}}</a>
            <ul class="dropdown-menu">
              <li *ngFor="let team of division.teamList"><a [routerLink]="['/team', team.id]">{{team.teamName}}</a> </li>
            </ul>
          </li>
        </ul>
        </li>
      </ul>

      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input class="form-control" placeholder="Search" type="text">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
